@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Mooli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(113, 19, 193);
    --secondary-color: rgb(137, 65, 201);
    --text-color: gray;
    --bg-color:rgb(33, 61, 75);
}
.nav-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo{
    margin-left: 20px;
} */
.logo > img{
    height: 80px;
    width: 100px;
    padding: 8px;
}
.primary_btn{
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    padding: 4px 25px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}
.primary_btn:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: 1s ease;
}
/* navbar end */
/* register form */
.container-fluid{
    height: 90vh;
}
.bg-container{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_box{
    height: 80%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 90%;
    height: 100%;
    /* background-color: aqua; */
}
.Signup{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
}
.paragraph{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    line-height: 15px;
}
.input_box{
    display: flex;
    width: 100%;
    border: 1px solid gray;
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.input_box > i{ 
    color: var(--text-color);
    font-size: 13px;
    padding: 10px;

}
.input_box > input{ 
    outline: none;
    border: none;
    font-size: 13px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    padding: 2px 5px;
}
.radio_btn_box{
    display: flex;
    margin-top: 10px;
}
.radio_btn_box > p{
    font-size: 13px;
    position: relative;
    top: 7px;
}
.radio_btn_box > p span{
    color: var(--primary-color);
    font-weight: bolder;
}
.radio_btn_box > input{
    position: relative;
    top: -17px;
    margin: 5px;
}
.radio_btn_box >input[type=checkbox] {
    accent-color: var(--primary-color);
  }
.btn_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.btn_box > button{
    border: 1px solid black;
    font-size: 13px;
    padding: 1px 5px;
    border-radius: 5px;
    color: black;
    margin: 10px;
}
.btn_box > button > i{
    padding: 0px 4px;
}
.register_login{
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    font-size: 14px;
}
.register_login > a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bolder;
}
/* login form style */
.login_box{
    height: 55%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_box_login{
    display: flex;
    justify-content: center;
}
/* logout file style*/
.logout_btn{
    display: flex;
    align-items: center;
}
.logout_btn > .profile{
    margin-right: 20px;
    background-color: rgb(177, 177, 177);
    border-radius: 50%;
}
.logout_btn > .profile > i{
    margin: 6px 7px;
    font-size: 13px;
    color: var(--primary-color);
}
.logout_btn > .profile > i:hover{
    cursor: pointer;
    transform: rotate(360deg);
}
.main_btn{
    border: 1px solid black;
    padding: 4px 14px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.main_btn:hover{
    cursor: pointer;
}
.logout_content{
    display: flex;
}
.side-nav{
    width: 70px;
    background-color: rgba(245, 245, 245, 0.733);
    height: 90vh;
}
.content{
    width: 95%;
    height: 100%;
}
.content > h2{
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 33px;
}
.profile_list{
    border: 1px solid gray;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 60px;
    right: 130px;
    z-index: 10;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    display: none;
}
.logout_btn > .profile > i:hover +.profile_list{
    display: block;
}
.profile_list ul{
    list-style: none;
    text-align: start;
    padding: 2px 8px;

}
.profile_list ul li{
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 5px;
    transition: 0.2s;
}
.profile_list ul li:hover{
    border-left: 4px solid var(--primary-color);
}
.profile_list ul li i{
    padding: 0px;
}
.profile_list ul .first_list{
    color: white;
    background-color: var(--primary-color);
    border-radius: 4px;

}















/* media query css */
@media (max-width: 576px) {
    .register_box{
        width: 82%;
    height: 77%;
    }
}

@media (min-width: 576px) {
    .register_box{
        width: 60%;
    height: 77%;
    }
    .login_box {
        width: 40%;
        height: 50%;
      }
      .radio_btn_box > input{
        top: 0px;
    }
}
@media (max-width: 768px) {
    .login_box {
        width: 90%;
        height: 50%;
      }
      .radio_btn_box > input{
        top: -7px;
    }
    .btn_box{
        display: block;
    }
}
@media (min-width: 992px) {
    .login_box {
        width: 60%;
        height: 50%;
      }
      .btn_box{
        display: block;
    }
}
@media (min-width: 1200px) {
    .register_box{
        width: 30%;
    height: 77%;
    }
    .radio_btn_box > input{
        top: -9px;
    }
    .btn_box{
        display: block;
    }
    .login_box {
        width: 30%;
        height: 50%;
      }

}
@media (min-width: 1400px) {
    .login_box {
        width: 60%;
        height: 50%;
      }
}