@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Mooli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: scroll; */
}
/*  */
:root {
    --primary-color: rgb(113, 19, 193);
    --secondary-color: rgb(137, 65, 201);
    --text-color: gray;
    --bg-color:rgb(33, 61, 75);
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.nav-bar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.logo > img{
    height: 60px;
    width: 80px;
    /* padding: 8px; */
    margin: 0 auto;
}
.primary_btn{
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 7px;
    padding: 4px 20px;
    font-size: 12px;
    /* margin-right: 20px; */
    font-family: 'Montserrat', sans-serif;
}
.primary_btn > i{
    margin-right: 3px;
}
.primary_btn:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: 1s ease;
}
/* navbar end */
/* register form */
.container-fluid{
    height: 90vh;
}
.bg-container{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_box{
    height: 80%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 90%;
    height: 100%;
    /* background-color: aqua; */
}
.Signup{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
}
.paragraph{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    line-height: 15px;
}
.input_box{
    display: flex;
    width: 100%;
    border: 1px solid gray;
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.input_box > i{ 
    color: var(--text-color);
    font-size: 13px;
    padding: 10px;

}
.input_box > input{ 
    outline: none;
    border: none;
    font-size: 13px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    padding: 2px 5px;
}
.radio_btn_box{
    display: flex;
    margin-top: 10px;
}
.radio_btn_box > p{
    font-size: 13px;
    position: relative;
    top: 7px;
}
.radio_btn_box > p span{
    color: var(--primary-color);
    font-weight: bolder;
}
.radio_btn_box > input{
    position: relative;
    top: -17px;
    margin: 5px;
}
.radio_btn_box >input[type=checkbox] {
    accent-color: var(--primary-color);
  }
.btn_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.btn_box > button{
    border: 1px solid black;
    font-size: 13px;
    padding: 1px 5px;
    border-radius: 5px;
    color: black;
    margin: 10px;
}
.btn_box > button > i{
    padding: 0px 4px;
}
.register_login{
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    font-size: 14px;
}
.register_login > a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bolder;
}
/* login form style */
.login_box{
    height: 55%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_box_login{
    display: flex;
    justify-content: center;
}
/* logout file style*/
.logout-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden !important;
}
.side-nav{
    width: 50px;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.473);
    z-index: 3;
}
.logout-layout{
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 50px;
}
.logout-navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center !important;
    border-bottom: 1px solid var(--text-color);
}
.profile-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 12px;
}
.logout-btn{
    background-color: var(--primary-color);
    color: white;
    border: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    border-radius: 5px;
    padding: 4px 14px;
    margin-right: 100px;
}
.logout-btn:hover{
    background-color: var(--secondary-color);
}
.logout-content{
    width: 94%;
    height: 90vh;
    /* margin-left: 10px; */
}
.logout-content > h3{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bolder;
    padding-left: 4px;
}
.flex-img{
    width: 90% !important;
    margin: 0 auto;
    height: 10vh;
    margin-top: 10px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex-img::-webkit-scrollbar {
    display: none;
  }
.flex-img > img{
    flex: 1;
    padding: 5px;
}
.logout-card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    /* width: 50%; */
}
.logout-card > .card{
    margin: 0 20px;
    border-radius: 10px;
    max-width: 23rem !important;
}
.user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: rgb(193, 127, 255);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 110px;
}
.cardheading{
    color: var(--text-color);
}
.card_btn
{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.select-opition{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
}
.select-opition > select{
    width: 15%;
    border-radius: 4px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 4px 10px;
    background-color: white;
    color: var(--text-color);
}
.select-opition > select:first-child{
    background-color: rgba(114, 114, 114, 0.678);
    color: white;
}
.humbuger{
    font-size: 30px;
    color: var(--secondary-color);
    position: absolute;
    left: 30px;
    display: none;
}
/* digital file style */
.pink-btn
{
    border: 1px solid rgba(185, 29, 138, 0.774);
    color: white;
    border-radius: 3px; padding: 3px 5px;
    background-color: rgba(185, 29, 138, 0.774);
    font-size: 13px;
}
.gray-btn
{
    border: 1px solid var(--text-color);
    color: white;
    border-radius: 3px; padding: 3px 5px;
    background-color: var(--text-color);
    font-size: 13px;
}
.orange-btn
{
    border: 1px solid rgba(163, 163, 161, 0.384);
    color: rgb(128, 83, 0);
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 13px;
    background-color: rgba(163, 163, 161, 0.384);
}
.transparentpurple-btn{
    border: 1px solid rgb(137, 65, 201);
    color: rgb(137, 65, 201);
    border-radius: 3px;
    padding: 3px 5px;
    background-color: rgba(211, 160, 255, 0.253);
    font-size: 13px;
}
.yellow-btn{
    border: 1px solid rgb(177, 180, 0);
    color: white;
    font-size: 13px;
    border-radius: 3px;
    padding: 3px 5px;background-color: rgb(177, 180, 0);
}
.lightpurple-btn{
    border: 1px solid rgba(158, 158, 158, 0.562);
    color: rgb(109, 28, 163);
    border-radius: 3px;
    padding: 3px 5px;
    background-color: rgba(158, 158, 158, 0.562);
    font-size: 13px;
}
.addnew{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.addnew > p{
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.digital-logo{
    color: var(--text-color);
    position: absolute;
    left: 20px;
    font-size: 30px;
    top: -15px;
}
.three-dot
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




















































/* media query css */
@media (max-width: 576px) {
    .register_box{
        width: 82%;
    height: 77%;
    }
    .logout-btn{
        margin-right: 40px;
    }
    .logout-card{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .logout-card > .card{
        margin-top: 20px;
    }
    .select-opition{
       justify-content: center;
       align-items: center;
    }
    .select-opition > select{
       width: 80%;
       margin-top: 10px;
    }
    .card:first-child{
        height: auto;
        margin-top: 30px;
    }
    .card{
        height: auto;
        max-width: 18rem !important;
    }
    .flex-img{
        /* padding-left: 300px; */
        justify-content: center;
    }
    .digital-logo{
        margin-top: 44px;
        margin-left: 60px;
    }
}

@media (min-width: 576px) {
    .register_box{
        width: 60%;
    height: 77%;
    }
    .login_box {
        width: 40%;
        height: 50%;
      }
      .radio_btn_box > input{
        top: 0px;
    }
}
@media (max-width: 768px) {
    .login_box {
        width: 90%;
        height: 50%;
      }
      .radio_btn_box > input{
        top: -7px;
    }
    .btn_box{
        display: block;
    }
    .flex-img{
        width: 100%;
    }
    .logout-card{
        flex-direction: column;
        align-items: center;
    }
    .logout-card > card{
        margin-top: 120px;
    }
    .select-opition{
        justify-content: center;
        align-items: center;
     }
     .select-opition > select{
        width: 80%;
        margin-top: 10px;
     }
     .logout-card{
        margin-top: 50px;
     }
     .card{
        height: 50vh;
        margin-top: 10px;
    }
    .side-nav{
        display: none;
    }
    .logout-layout{
        position: absolute;
        z-index: 1;
        left: 0;
        background-color: white;
    }
    .humbuger{
        display: block;
    }
    .digital-logo{
        margin-top: 20px;
        margin-left: 80px;
    }
}
@media (max-width: 992px) {
    .login_box {
        width: 60%;
        height: 50%;
      }
      .btn_box{
        display: block;
    }
    .digital-logo{
        margin-top: -4px;
        margin-left: 20px;
    }
}
@media (min-width: 1200px) {
    .register_box{
        width: 30%;
    height: 77%;
    }
    .radio_btn_box > input{
        top: -9px;
    }
    .btn_box{
        display: block;
    }
    .login_box {
        width: 30%;
        height: 50%;
      }
      .digital-logo{
        margin-top: 20px;
        margin-left: 30px;
    }

}
@media (min-width: 1400px) {
    .login_box {
        width: 60%;
        height: 50%;
      }
}