.container {
  height: 100px;
  width: 100%;
  display: flex;
}

.left,
.right {
  display: flex;
  flex: 1;
}

.left {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 600;
  color: var(--carbon-black-color);
  margin-bottom: 8px;
}

.warning {
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  color: var(--carbon-black-color);
}
