:root {
  --carbon-black-color: #000000cf;
  --carbon-white-color: #f4f4f4;
  --carbon-primary-color: #845dc1;
  --carbon-secondary-color: #9d79c9;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--carbon-white-color);
  color: var(--carbon-black-color);
}

a {
  text-decoration: none;
  color: var(--carbon-primary-color);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.text-white {
  color: var(--carbon-white-color);
}

.ml-2 {
  margin-left: 2px;
}
