@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --carbon-black-color: #000000cf;
  --carbon-white-color: #f9f9f9;
  --carbon-green-color: #28a745;
  --carbon-white-light-color: #ffffff;
  --carbon-primary-color: #6f13c7;
  /* #6a4a99; */
  --carbon-secondary-color: #9d79c9;
  --carbon-primary-light-color: #f6f0ff;
  --carbon-black-light-color: #696969ba;
  --carbon-purple-color: #efeafb;
  --carbon-red-color: #dc3545;
}

.nav {
  --bs-nav-link-padding-x: 1.5rem;
  --bs-nav-link-padding-y: 0.9rem;
  --bs-nav-tabs-link-active-bg: inherit;
  --bs-nav-tabs-link-active-border-color: var(--carbon-white-color);
}

.alert-primary {
  --bs-alert-color: var(--carbon-primary-color);
  --bs-alert-bg: var(--carbon-primary-light-color);
  --bs-alert-border-color: var(--carbon-primary-light-color);
  --bs-alert-link-color: var(--carbon-primary-color);
}

.text-black {
  color: var(--carbon-black-color) !important;
}

.text-red {
  color: var(--carbon-red-color) !important;
}

.text-black-light {
  color: var(--carbon-black-light-color) !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--carbon-white-color);
  color: var(--carbon-black-color);
}

a {
  text-decoration: none;
  color: var(--carbon-primary-color);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.text-white {
  color: var(--carbon-white-color);
}

.text-green {
  color: var(--carbon-green-color);
}

.ml-2 {
  margin-left: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.page-center {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 14px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--carbon-primary-color) !important;
  border-color: var(--carbon-primary-color) !important;
}

.btn-outline-primary {
  border-color: var(--carbon-primary-color) !important;
  color: var(--carbon-primary-color) !important;
}

.btn-outline-primary:hover {
  background-color: var(--carbon-primary-color) !important;
  color: var(--carbon-white-color) !important;
}

.sidebar {
  height: 100vh;
  position: fixed;
  box-shadow: 4px 1px 15px -14px var(--carbon- -color);
  -webkit-box-shadow: 4px 1px 15px -14px var(--carbon-black-color);
  -moz-box-shadow: 4px 1px 15px -14px var(--carbon-black-color);
  top: 0;
  padding: 0px !important;
  z-index: 100;
}

.bg-light {
  background-color: var(--carbon-white-color) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--carbon-primary-color);
}

.nav-pills .nav-link {
  border-radius: 0px;
}

.nav-link > span {
  padding-left: 4px;
  font-size: 14px;
}

.mt-10 {
  margin-top: 6rem !important;
}

.text-primary {
  color: var(--carbon-primary-color) !important;
}

.nav-tabs .nav-link.active {
  border-bottom: 4px solid var(--carbon-primary-color);
  color: var(--carbon-primary-color) !important;
}

.nav-tabs .nav-link {
  border: none;
  padding: 0.5em 3.5em;
  color: var(--carbon-black-light-color);
  font-size: 14px;
}

.nav-link:focus-visible {
  box-shadow: none;
}

.black-light-text {
  color: var(--carbon-black-light-color);
}

.font-bold {
  font-weight: 600;
}

.form-control {
  background-color: var(--carbon-white-light-color);
}

.form-group > label {
  font-size: 1em;
  margin-bottom: 4px;
  color: var(--carbon-black-color);
}

.form-group > label.warning-text {
  color: var(--carbon-black-light-color);
  display: block;
  font-size: 12px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.warning-list {
  list-style-type: square;
}

.warning-list-item {
  color: var(--carbon-black-light-color);
  font-size: 12px;
}

.form-check-input:checked {
  background-color: var(--carbon-primary-color);
  border-color: var(--carbon-primary-color);
}

.text-white {
  color: var(--carbon-white-color);
}
hr {
  border-color: var(--carbon-primary-color);
  opacity: 1;
  border-width: 2px;
}
.badge {
  border-radius: 8px !important;
}
.badge-primary {
  background-color: var(--carbon-primary-color) !important;
  color: var(--carbon-white-color) !important;
  font-weight: 500;
}

.badge-outline-primary {
  border: 1px solid var(--carbon-primary-color) !important;
  color: var(--carbon-primary-color) !important;
  font-weight: 500;
}

.table {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.table tr > th,
.table tr > td {
  font-size: 12px;
  font-weight: 500;
}

.table tr > td {
  padding: 16px 8px;
}

.thead-dark > tr > th {
  background: var(--carbon-black-color);
  color: var(--carbon-white-color);
}
