.quarter_container {
  height: 45px;
  width: 200px;
  display: flex;
  flex-direction: row;
}
.quarter {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--carbon-primary-color);
}
.quarter > span {
  color: var(--carbon-primary-color);
  font-weight: 600;
  font-size: 14px;
}
.quarter_active {
  background: var(--carbon-primary-color);
}
.quarter_active > span {
  color: var(--carbon-white-color);
}
