.header {
  background-color: var(--carbon-primary-color);
  height: 60px;
}

.header_inner {
  height: 100%;
  width: 100%;
}

.nav {
  height: 100%;
  background-color: var(--carbon-primary-color) !important;
  padding-left: 0;
}

.logo_container {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 26px;
  color: var(--carbon-white-color);
}

.header_right {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}

.header_btn {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.header_profile_image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
