.row {
  padding: 10px 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row_style {
  background-color: var(--carbon-primary-light-color);
  border: 1px solid var(--carbon-primary-color);
  padding-left: 20px;
  padding: 10px;
}

.title {
  color: var(--carbon-black-light-color);
}

.title_style {
  color: var(--carbon-primary-color);
}